.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
models/saved_models/*.joblib
models/saved_models/*.keras
reports/figures/*.png
reports/results/*.json
reports/tables/*.csv
data/**/*.csv
data/**/*.xlsx
!data/feature_engineered_dataset/.gitkeep
.env
.DS_Store
